body{
    background-size: cover;
}

.heading{
    width: 100%;
    

}

input{
    border-color: black;
    border-radius: 30px;
}

.start{
    background-color: lime;
    border-radius: 30px;
}

.canvas{
    background-color: cyan;
    width: 50%;
    height: 60%;
}
